#include <windows.h>
#include "resource.h"

IDD_OPTIONS DIALOGEX 0, 0, 240, 220
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "VTF Export Options v2"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,129,199,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,183,199,50,14
    
    LTEXT           "Format:",IDC_STATIC,7,7,26,8
    COMBOBOX        IDC_FORMAT,7,18,226,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    
    GROUPBOX        "Flags",IDC_STATIC,7,36,226,156
    
    AUTOCHECKBOX    "Point Sample",IDC_CHK_POINTSAMPLE,15,48,90,10
    AUTOCHECKBOX    "Trilinear",IDC_CHK_TRILINEAR,15,60,90,10
    AUTOCHECKBOX    "Clamp S",IDC_CHK_CLAMPS,15,72,90,10
    AUTOCHECKBOX    "Clamp T",IDC_CHK_CLAMPT,15,84,90,10
    AUTOCHECKBOX    "Anisotropic",IDC_CHK_ANISOTROPIC,15,96,90,10
    
    AUTOCHECKBOX    "Hint DXT5",IDC_CHK_HINTDXT5,120,48,90,10
    AUTOCHECKBOX    "Normal Map",IDC_CHK_NORMAL,120,60,90,10
    AUTOCHECKBOX    "No Mipmap",IDC_CHK_NOMIP,120,72,90,10
    AUTOCHECKBOX    "No LOD",IDC_CHK_NOLOD,120,84,90,10
    AUTOCHECKBOX    "No Minimum Mipmap",IDC_CHK_MINMIP,120,96,90,10
    AUTOCHECKBOX    "sRGB",IDC_CHK_SRGB,120,108,90,10
    
    LTEXT           "Check 'Normal Map' for bump maps/normal textures.",IDC_STATIC,15,176,210,8
END
